src/main/resources/data/converters/schema/converter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="converter">
        <xs:complexType>
            <xs:all maxOccurs="1">
                <!-- <xs:element name="id" type="xs:string" minOccurs="1"/> -->
                <xs:element name="path" type="xs:string" minOccurs="1"/>
                <xs:element name="editor" type="xs:anyURI" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
